<div class="container">

    <div class="row" style="margin-top: 15px;">

        <div class="col-md-6">

            <mat-form-field class="full-width">
                <mat-label>Buscar</mat-label>
                <mat-icon matPrefix>search</mat-icon>
                <input #searchInput type="text" matInput placeholder="">
            </mat-form-field>

        </div>

        <div class="col-md-6">
            <button mat-button>Agregar Item</button>
        </div>

    </div>

    <div class="row">
        <div class="col-md-6">

            <mat-form-field class="full-width">
                <mat-label>Culturas</mat-label>
                <mat-select multiple [formControl]="selectedLocales">
                    <mat-option *ngFor="let locale of locales" [value]="locale">{{locale.name}}</mat-option>
                </mat-select>
            </mat-form-field>

        </div>

        <div class="col-md-6">

            <button mat-button>Agregar Cultura</button>
        </div>
    </div>


    <div class="row row-key" *ngFor="let resource of resources">
        <div class="col-md-3">
            <div class="item-key">
                <span>{{resource.id}}</span>
            </div>
        </div>
        <div class="col-md-9">
            <ng-container *ngFor="let translation of resource.translations">
                <div class="row-trans" *ngIf="isLocaleSelected(translation.locale)">

                    <div class="key-translation-lang-name">
                        <strong> {{translation.locale}}</strong>
                    </div>
                    <div class="key-translation-editor-container">
                        <div class="key-editor-wrapper">
                            <div>{{translation.value}}</div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>





</div>