<div class="container">

    <div class="row" style="margin-top: 15px;">

        <div class="col-md-6">

            <mat-form-field class="full-width">
                <mat-label>Buscar</mat-label>
                <mat-icon matPrefix>search</mat-icon>
                <input #searchInput type="text" matInput placeholder="">
                <mat-icon (click)="clearSearch()" matSuffix *ngIf="searchInput.value">close</mat-icon>
            </mat-form-field>

        </div>

        <div class="col-md-6">
            <button mat-button>Agregar Item</button>
        </div>

    </div>

    <div class="row">
        <div class="col-md-6">

            <mat-form-field class="full-width">
                <mat-label>Culturas</mat-label>
                <mat-select multiple [formControl]="selectedLocales">
                    <mat-option *ngFor="let locale of locales" [value]="locale">{{locale.name}}</mat-option>
                </mat-select>
            </mat-form-field>

        </div>

        <div class="col-md-6">

            <button mat-button>Agregar Cultura</button>
        </div>
    </div>


    <div class="row row-key" *ngFor="let resource of resources">
        <div class="col-md-3">
            <div class="item-key">
                <span>{{resource.id}}</span>
            </div>
        </div>
        <div class="col-md-9" style="padding-right: 0;">
            <ng-container *ngFor="let translation of resource.translations">
                <div class="row-trans" *ngIf="isLocaleSelected(translation.locale)">

                    <div class="key-translation-lang-name">
                        <strong> {{translation.locale}}</strong>
                    </div>
                    <div class="key-translation-editor-container">
                        <ng-template [ngIf]="selectedTranslation!=translation" [ngIfElse]="translationEditor">
                            <div (click)="selectedTranslation=translation" class="key-editor-wrapper">
                                <div>{{translation.value}}</div>
                            </div>
                        </ng-template>

                        <ng-template #translationEditor>
                            <div class="key-translation-editor">
                                <div class="editor-wrapper">
                                    <input class="form-control" matInput placeholder="Traducción"
                                        value="{{translation.value}}">
                                    <div class="editor-panel bottom-panel">
                                        <button mat-raised-button color="primary">Guardar</button>
                                        <button mat-raised-button (click)="selectedTranslation=null">Cancelar</button>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </div>
                    <div class="key-translation-actions-container">

                        <div class="key-translation-actions">
                            <!--button class="icon-button-small" mat-mini-fab
                                aria-label="Example icon button with a home icon">
                                <mat-icon>mode_edit</mat-icon>
                            </button-->
                        </div>

                    </div>

                </div>
            </ng-container>
        </div>
    </div>





</div>