.row-key {
    border-top: 1px solid #CCCCCC;
    margin-right: 0;
    margin-left: 0;
}

.row-trans {
    display: grid;
    grid-template-areas:
        "language actions"
        "editor editor";
    grid-template-rows: auto 1fr;
}

.key-translation-lang-name {
    font-size: 13px;
    padding: 10px 8px 8px 20px;
    justify-self: start;
    grid-area: language;
}

.key-translation-editor-container {
    grid-area: editor;
}

.key-translation-actions-container {
    justify-self: end;
    grid-area: actions;
}

.key-translation-actions {
    display: flex;
    margin: 9px 20px 0 0;
    float: right;
}

.row-trans:not(:last-child) {
    border-bottom: 1px solid #ddd;
}

.row-trans:nth-child(odd) {
    background-color: #f9f9f9;
}

.key-translation-lang-name {
    font-size: 13px;
    padding: 10px 8px 8px 20px;
    justify-self: start;
    grid-area: language;
}

.key-editor-wrapper {
    position: relative;
    width: 100%;
    padding: 10px 13px 10px 20px;
    cursor: pointer;
}

.item-key {
    padding-top: 10px;
    padding-left: 7px;
}

.full-width {
    width: 100%;
}

$small-size-button: 24px;
$small-size-icon: 18px;

button[mat-mini-fab] {
    &.icon-button-small {
        width: $small-size-button;
        height: $small-size-button;
        line-height: $small-size-button;

        .mat-icon {
            font-size: $small-size-icon;
            width: $small-size-icon;
            height: $small-size-icon;
            line-height: $small-size-icon;
        }
    }
}

.editor-wrapper .bottom-panel,
.popup-wrapper .bottom-panel {
    font-size: 12px;
    color: #555;
    margin: 5px 0 5px 0;
    direction: ltr;
}

.bottom-panel button {
    margin-right: 5px;
}

button#addCulture {
    justify-content: flex-start;
    padding-left: 50px;
    top: 5px;
}