.wrapper {
    background-color: white;
    background-image: url('/assets/images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.center button,
.center a {
  margin-right: 8px;
  min-width: 235px;
}
